.peeledLogo p {
  color: #fff;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.peeledLogo p span {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500;
  perspective: 500;
  -webkit-font-smoothing: antialiased;
}
.peeledLogo p span::before,
.peeledLogo p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  content: attr(data-text);
}
.peeledLogo p span::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
  transform: scale(1.1, 1) skew(0deg, 20deg);
}
.peeledLogo p span::after {
  z-index: 2;
  color: #252527;
  text-shadow: -1px 0 1px #252527, 1px 0 1px rgba(0,0,0,0.8);
  -webkit-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
}
.peeledLogo p span:hover::before {
  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
  transform: scale(1.1, 1) skew(0deg, 5deg);
}
.peeledLogo p span:hover::after {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
.peeledLogo p span + span {
  margin-left: 0.3em;
}
@media (min-width: 20em) {
  .peeledLogo p {
    font-size: 2em;
  }
  .peeledLogo p span::before,
  .peeledLogo p span::after {
    display: block;
  }
}
@media (min-width: 30em) {
  .peeledLogo p {
    font-size: 3em;
  }
}
@media (min-width: 40em) {
  .peeledLogo p {
    font-size: 5em;
  }
}
@media (min-width: 60em) {
  .peeledLogo p {
    font-size: 8em;
  }
}

.blurBg {
  background-size: cover;
  display: block;
  filter: blur(5px);
  background-image: url("../images/aziz-acharki-253909.jpg");
  height: 100%;
  width: 100%;
  position:fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -10;
}

body {
  background-color: #252527;
}
