target
*.class
*.log
*.iml
*.ipr
*.iws
.idea
out

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
run_app.sh
node_modules
.DS_Store

